nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 110px;
    background-color:white;
}

nav a {
    padding: 15px;
    color:rgb(113, 255, 47);
}

article#LandingPage h3 {
    padding-bottom: 25px;
}

article#LandingPage ol {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

article#LandingPage ol li {
    display: block;
    flex: 1 0 21%; /* Default */
    margin: 5px;
    height: 80px;
}

article#LandingPage ol :first-child{
    display: block;
    align-items: center;
    flex: 1 0 100%; /* Default */
    margin: 5px;
    height: 100px;
}

article#About ul :last-child{
    margin-bottom:25px;
}

body article {
    margin-top: -25px;
    margin-bottom: 125px;
    padding-top: 125px;
}

article#LandingPage {
    padding-top: -10px;
}

hr {
    border: 0.5px solid green;
}

body {
    background-color: rgba(0, 0, 0, 0.005);
    font-family: 'Montserrat', sans-serif;
    color: darkgreen;
    text-align: center;
}

Article#About a{
    color: green;
}

Article#About ul :first-child {
    margin-top: 15px;
}

Article#About ul{
    list-style-type: none;
}

h3 + ul {
    margin-right: 30px;
}
